<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share-layout</title>
    <link href="./css/detail-layout.css" rel="stylesheet"
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            {{チャンネル名}}
        </div>
        <div class="layout-sidebar-container">
            <ul class="side-lists" >
                <li class="side-list" >
                    <a href="" style="color: aliceblue;">
                        <p>icon1</p>
                        <p>アイコン１</p>
                    </a>
                </li>
                <li>
                    <a href="" style="color: aliceblue;">
                        <p>icon3</p>
                        <p>アイコン2</p>
                    </a>
                </li>
                <li>
                    <a href=""style="color: aliceblue;">
                        <p>icon3</p>
                        <p>アイコン3</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="layout-secondbar-container">
            <ul class="channnel-list-second">
                <li>
                    <a href="/detail/${channel.id}"">
                        <p class="channel-name">{{ channel.name }}</p>
                    </a>
                    {% if channel.abstract is not none %}
                    <p id="channel-description">{{ channel.abstract }}</p>
                    {% endif %}
                    <!-- もしuidとチャンネル作成者が同じならタイトル、説明を編集可能にする -->
                    {% if uid == channel.uid %}
                    <button id="update-channel-btn">
                        編集
                    </button>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="layout-contents-container">
            <div class="main-messages flex-container">
                <div class="search-messages-box">
                    <div class="search-messages">
                        <label for="search-messages">本文検索</label>
                        <input type="text" id="search-messages">
                        <button type="button">検索</button>
                    </div>
                </div>
                <div class="messages">
                    {% if messages|length > 0 %} {% for message in messages %} {% if
                        message.uid == uid %}
                        <div class="my-messages">
                            <p class="user-name">{{ message.user_name }}</p>
                            <p class="box box-right">{{ message.message }}</p>
                            <!-- <form action="/delete_message" method="POST">
                                <input type="hidden" value="{{ channel.id }}" name="cid" />
                                <button
                                class="delete-message-button"
                                name="message_id"
                                value="{{ message.id }}"
                                >
                                削除
                                </button>
                            </form> -->
                            <p class="message-created_at">{{ message.created_at }}</p>
                        </div>
                        {% else %}
                        <div class="messages">
                            <p class="user-name">{{ message.user_name }}</p>
                            <p class="box box-left">{{ message.message }}</p>
                            <p class="message-created_at">{{ message.created_at }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                        {% else %}
                        <div id="no-message">
                            <p>メッセージ履歴がありません</p>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="layout-message-container">
            <div class="massage-send-box">  
                <form
                class="message-box"
                action="/message"
                method="POST"
                name="newMessageForm"
                >
                <textarea name="message" id="message" placeholder="メッセージ入力欄" autofocus></textarea>
                <input type="hidden" name="cid" value="{{ channel.id }}" />
                <div id="message-send">
                    <button type="submit" id="add-message-button">
                    送信
                    </button>
                </div>
                </form>
                <div id="message-send-description">
                    <p>Command + Enter または Ctrl + Enterでも送信できます。</p>
                </div>
            </div>
        </div>
            </div>

        </div>
    </div>
</body>
</html>