*{
    padding: 0px;
    margin: 0px;
}

.layout-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr  4fr 1fr;
    grid-template-rows: 0.6fr 0.4fr 3fr 0.6fr;
    background-color: #CFE8FF;
}

.layout-header-container {
    grid-column: 3 / 5;
    grid-row: 1;
    background-color: #7895CB;
    padding: 1%;
    /* position:sticky;
    top: 0px; */
}

.layout-sidebar-container {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: #4A55A2;
}

.layout-secondbar-container{
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: skyblue;
}

.layout-contents-container{
    grid-column : 3 / 5 ;
    grid-row : 2 / 3;
}

.layout-message-container{
    grid-column : 3 / 5 ;
    grid-row : 3 / 4;
    padding-top: 2%;
    background-color:  #7895CB;
}

.search-messages{
    text-align: right;
    margin-right: 10%;
}


#message{
    width: 80%;
    font-size: larger;
}

#message-send-description{
    font-size: small;
}


.user-name {
    font-size: 8px;
    color: grey;
    margin: 1px 0;
}

.message-created_at {
    font-size: 8px;
    color: grey;
    margin: 1px 0;
}

  
.my-messages {
    margin: 0 5% 0 auto;
}

.messages{
    margin-left: 2%;
}

.message-box{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    /* width: 60%; */
    margin: 0;
    padding: 0.7em 0 0.4em 1em;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    white-space: pre-wrap;
  }

.box-left {
    background-color: rgba(18, 37, 67, 0.2);
    color: var(--navy_blue);
    width: 60%;
}
  
.box-right {
    background-color: rgba(18, 37, 67, 0.4);
    color: var(--snow);
    margin-left: auto;
    width: 60%;
}


#no-message {
    padding-top: 54px;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#no-message p {
    display: inline;
}