.block-contets-container {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.add-channels-box {
    height: 15%;
    width: 60%;
    margin-top: 10px;
}

.add-channels-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
}

.add-channels-btn:hover {
    cursor: pointer;
}

.channels-form-input:hover .add-channels-btn {
    opacity: 0;
}

.add-channels-btn-icon {
    font-size: 1.8rem;
    margin-left: 10px;
    margin-right: 15px;
    color: #CFE8FF;
    transition: color .3s linear;
}

.add-channels-btn:hover .add-channels-btn-icon {
    color: #343c78;
}
.add-channels-btn-text {
    font-size: 1.3rem;
    color: #CFE8FF;
    transition: color .3s linear;
}

.add-channels-btn:hover .add-channels-btn-text {
    color: #343c78;
}

.search-channels-form {
    display: flex;
    align-items: center;
    height: 15%;
    width: 60%;
    position: relative;
}

.channels-form-input {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    border-radius: 5px;
}

.channels-form-input:hover {
    cursor: text;
}

.channels-form-input::placeholder {
    font-size: 1.1rem;
    color: #c5d6e7;
    transition: color .15s linear;
}

.channels-form-input:hover:-webkit-input-placeholder {
    color: #343c78;
}

.channels-form-input:hover::-moz-placeholder {
    color: #343c78;
}

.channels-form-input:hover::-ms-input-placeholder {
    color: #343c78;
}

.channels-form-input:hover::placeholder {
    color: #343c78;
}

.channels-form-input:focus:-webkit-input-placeholder {
    color: transparent;
}

.channels-form-input:focus::-moz-placeholder {
    color:transparent
}

.channels-form-input:focus::-ms-input-placeholder {
    color: transparent;
}

.channels-form-input:focus::placeholder {
    color: transparent;
}

.channel-form-serchbtn {
    height: 80%;
    width: 14%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #CFE8FF;
    transition: background-color .3s linear;
}

.channel-form-serchbtn:hover {
    cursor: pointer;
    background-color: #4A55A2;
}

.search-channels-btn-icon {
    font-size: 1.5rem;
    color: #4A55A2;
    transition: color .3s linear;
}

.channel-form-serchbtn:hover .search-channels-btn-icon {
    color: #CFE8FF;
}

.channel-form-serchbtn:focus .search-channels-btn-icon {
    transform: translate(0px);
}


.channels-list-box {
    width: 60%;
    height: 73%;
    text-align: center;
}


.channnel-list-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.channnel-list-wrapper::-webkit-scrollbar {
    display: none;
}

.channel-list {
    width: 100%;
    height: 15%;
    position: relative; 
    list-style: none;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f4f4f4;
}

.channel-list:hover {
    background: #bccae3;
    cursor: pointer;
}

.list-chanel-icon {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #4A55A2;
}

.list-channel-title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #4A55A2;
    font-size: 1.1rem;
    width: 55%;
    text-align: left;
    padding-left: 10%;
}

.list-chanel-star-btn  {
    width: 20%;
    height: 60%;
    position: absolute;
    top: 50%;
    right: 13.6%;
    transform: translateY(-45%);
    border-radius: 5px;
    background: linear-gradient(

    15deg,

    #7baedd,
    #ddedfc
    );
    transition: background .2s linear;
    cursor: pointer;
}

.list-chanel-star-icon {
    font-size: 1.8rem;
    color: #878fc8;
}


.list-delete-channel-btn {
    width: 11%;
    height: 60%;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.list-chanel-delite-icon {
    font-size: 1.8rem;
    color: #2e3464;
}

.layout-modal-container {
    width: 60vw;
    height: 60vh;
    border: none;
    outline: none;
    border-radius: 3px;
    
}

.box-modal-container {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(

        #7e94bb,
        #62769a
    
    );
}

.modal-title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 20%;
}

.modal-title {
    color: white;
    font-size: 2.4rem;
}

.modal-close-btn {
    color: white;
    font-size: 4rem;
    border: none;
    outline: none;
    padding: none;
    background-color: transparent;
    transition: all 0.5s;
}

.modal-close-btn:hover {
    color: #242b5e;
    cursor: pointer;
}

.modal-contents-form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-contents-input-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contents-input-group-name {
    height: 30%;   
}

.contents-input-group-description {
    height: 57%;
}

.modal-end-btn {
    height: 15%;
    width: 40%;
    border: none;
    outline: none;
    background-color: #CFE8FF;
    border-radius: 3px;
    border-color: #CFE8FF;
    font-size: 1.6rem;
    color:#343c78;
    transition: background-color 0.5s, color 0.5s;
}

.modal-end-btn:hover,
.modal-end-btn:focus
{
    background-color: #343c78;
    color: white;
    cursor: pointer;
}


.modal-contents-text {
    width: 80%;
    height: 50%;
    font-size: 1.1rem;
    font-size: 1.5rem;
    color: rgb(225, 235, 245);
}


dialog::backdrop {
    opacity: .8;
    background: linear-gradient(

        15deg,

        #68a1d6,
        #ddedfc
    );
}
