*{
    padding: 0px;
    margin: 0px;
}

.layout-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.33fr 0.67fr 4fr 1fr;
    grid-template-rows: 0.6fr 0.4fr 3fr 1fr;
    background-color: #CFE8FF;
}

.layout-header-container {
    grid-column: 2 / 5;
    grid-row: 1;
    background-color: #7895CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    height: 90%;
    font-size: 3rem;
    margin-left: 32px;
    color: white;
}

.layout-sidebar-container {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: #4A55A2;
    position: relative;
    border-right: white 1px solid;
}

.block-sidebar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    width: 100%;
}

.side-bar-middle-buttons {
    width: 100%;
    height: 70%;
    display: block;
}

.side-bar-middle-buttons > img {
    width: 100%;
    margin-bottom: 27.5px;
}

.user-name-label{
    grid-column: 2 / 5;
    grid-row: 2;
    padding-left: 4%;
    font-size: x-large;
}

.layout-contents-container{
    grid-column : 3;
    grid-row :3;
    background-color: #7895CB;
    position: relative;
}

.add-channels{
    width: 20%;
    background-color: pink;
    margin: 0 10px 10px auto;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    margin-top: 2%;
}

.search-channels{
    text-align: center;
    font-size: large;
}

.search-channels >input{
    height:90%;
    font-size: large;
}


.channels-box{
    width: 72%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: white;
    border: 2px solid beige;
    border-radius: 4%;
}

ul > li{
    font-size:larger;
}