* {
    padding: 0px;
    margin: 0px;
}

.layout-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.33fr 0.67fr 4fr 1fr;
    grid-template-rows: 0.6fr 0.4fr 3fr 1fr;
    background: linear-gradient(

        15deg,

        #7baedd,
        #ddedfc
    );
}

.layout-header-container {
    grid-column: 2 / 5;
    grid-row: 1;
    background: linear-gradient(
        
        to right,

        #5d7196,
        #819bcb
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    font-size: 41.2px;
    margin-left: 32px;
    color: white;
    text-shadow: -0.15em 0.12em 0.05em rgba(74, 85, 162, 0.8);
}

.layout-sidebar-container {
    grid-column: 1;
    grid-row: 1 / 5;
    background: linear-gradient(
        #596095,
        #31396e
    );
    position: relative;
}

.block-sidebar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.side-bar-middle-buttons {
    width: 100%;
    height: 70%;
}

.side-bar-middle-buttons  img {
    width: 100%;
    margin-bottom: 27.5px;
}

@keyframes bounce {
    0% {
        transform: translate(0%, 0%);
    }
    
    30% {
        transform: translate(0%, -15%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    60% {
        transform: translate(0%, -5%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.sidebar-icon-clickable:hover {
    cursor: pointer;
    animation: bounce 0.76s linear 0s infinite normal;
}

.layout-contents-container{
    grid-column : 3;
    grid-row :3;
    background: linear-gradient(

        15deg,

        #5c74a0,
        #899ec4

    );
    border-radius: 5px;
    box-shadow: -7px 10px 6px rgba(74, 85, 162, 0.2);
    position: relative;
}

ul >li{
    list-style: none;
}

.flash-message{
    color: rgba(246, 0, 0, 0.594);
    font-size: large;
    font-weight: bold;
}