*{
    padding: 0px;
    margin: 0px;
}

.layout-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    background: linear-gradient(

    15deg,

    #7baedd,
    #ddedfc
    );
}

.layout-logo-container {
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 15%;
    display: flex;
    align-items: center;
    height: 8%;
}

.logo-icon {
    height: 100%;
}

.logo-text {
    font-size: 2rem;
    color: #637aa6;
}


.layout-contents-container{
    background-color: #7895CB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 75%;
    height: 75%;
}

.registration-title {
    width: 65%;
    height: 11%;
    font-size: 1.7em;
    margin-bottom: 3%;

    color: #343c78;
}

.registration-form {
    width: 65%;
    height: 60%;
}

.registration-input {
    display: flex;
    flex-direction: column;
    gap: 8%;
    align-items: center;
    width: 100%;
    height: 100%;
}

.registration-input-box {
    position: relative;
    width: 85%;
    height: 37px;
}

.registration-input-box > input  {
    width: 90%;
    height: 100%;
    padding-left: 3%;
    font-size: 19px; 
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color:#343c78;
    transition: 0.5s;
    position: relative;
    z-index: 8;

}

.registration-input-box > span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #343c78;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1.0em;
}

.registration-input-box > input:focus ~ span,
.registration-input-box > input:not(:placeholder-shown) ~ span
{
    color: white;
    font-size: 0.75em;
    transform: translateY(-37px);
}

.registration-input-box > i {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #4A55A2;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.registration-input-box > input:focus ~ i,
.registration-input-box > input:not(:placeholder-shown) ~ i
{
    height: 37px;
    background-color: white;
}

.registration-pagechange{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 35%;
}

.registration-button-signup {
    width: 48%;
    height: 39px;
    margin-bottom: 2%;
    border: none;
    outline: none;
    background-color: #CFE8FF;
    border-radius: 5px;
    border-color: #CFE8FF;
    font-size: 17.2px;
    color:#343c78;
    transition: background-color 0.5s, color 0.5s;
}

.registration-button-signup:hover,
.registration-button-signup:focus
{
    background-color: #343c78;
    color: white;
}

.registration-link {
    color: #343c78;
    padding: 1%;
    text-decoration: none;
    position: relative;
}

.registration-link:hover,
.registration-link:focus
{
    color:#CFE8FF;
}

@media screen and (max-height: 670px) {
    .registration-title {
        display: none;
    }
    .registration-button-signup {
        font-size: 0px;
    }
    .registration-button-signup::before {
        font-size: 17.2px;
        content: '新規登録';
    }

    .registration-form {
        height: 80%;
    }
}

.background-animation-setting-container {
    overflow: hidden;
    position:absolute;
    left: 2%;
	width: 15%;
    top: 0%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}

.background-animation-setting-img {
    width: 100%;
    height: auto;
    animation:transform-setting 34s ease-out infinite;
}

@keyframes transform-setting {
    from {
		transform:translateY(-100vh) rotate(0deg);
    }
    to {
        transform:translateY(100vh) rotate(360deg);
    }
}

.background-animation-wrench-container {
    overflow: hidden;
    position: absolute;
    left: 84%;
    width: 15%;
    top: 0%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    text-align: center;
}

.background-animation-wrench-img {
    width: 50%;
    height: auto;
    animation: transform-wrench 30s ease-out infinite;
}

@keyframes transform-wrench {
    from {
		transform:translateY(-300vh) rotate(0deg);
    }
    to {
        transform:translateY(100vh) rotate(1000deg);
    }
}

.background-animation-robot-container {
    overflow: hidden;
    position: absolute;
    left: 60%;
    width: 28%;
    top: 0%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    text-align: center;
}

.background-animation-robot-img {
    width: 50%;
    height: auto;
    animation: transform-robot 48s ease-out infinite;
}

@keyframes transform-robot {
    from {
		transform:translateY(-100vh) rotate(0deg);
    }
    to {
        transform:translateY(100vh) rotate(360deg);
    }
}

.background-animation-debug-container {
    overflow: hidden;
    position: absolute;
    left: 15%;
    width: 28%;
    top: 0%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    text-align: center;
}

.background-animation-debug-img {
    width: 70%;
    height: auto;
    animation: transform-debug 60s ease-out infinite;
}

@keyframes transform-debug {
    from {
		transform:translateY(-30vh) rotate(0deg);
    }
    to {
        transform:translateY(100vh) rotate(180deg);
    }
}
