<!DOCTYPE html>
<html lnag="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="rogin.css">
        <title>新規登録ページ</title>
    </head>

    <body>
        <h1>新規登録</h1>
        <form method="post" action="#">
            <p>名前:<input type="text" name="nickname"></p>
            <p>メールアドレス:<input type="text" name="e-mail"></p>
            <p>パスワード:<input type="text" name="pasword"></p>
            <input type="submit" value="送信する">
        </form>
    </body>
</html>