<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share-layout</title>
    <link href="../static/css/signup.css" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container"></div>
        <div class="layout-sidebar-container"></div>
        <div class="layout-contents-container">
            <div class="block-contents-container">
                <h1>新規登録</h1>
                <form method="post" action="#">
                    <p>名前:</p>
                    <p><input type="text" name="nickname" placeholder="名前"></p>
                    <p>メールアドレス:</p>
                    <p><input type="text" name="e-mail"></p>
                    <p>パスワード:</p>
                    <p><input type="password" name="pasword1"></p>
                    <p>パスワード(再入力):</p>
                    <p><input type="password" name="pasword2"></p>
                    <input type="submit" value="登録する">
                </form>
            </div>    
        </div>
    </div>
</body>
</html>