<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャンネルを追加</title>
    <link href="../static/css/add-channel.css" rel="stylesheet"
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                チャンネルを追加
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <div class="side-bar-middle-buttons">
                    <a href="/profile">
                        <img class="sidebar-icon-profile icon" src="../static/icon/user_icon.png">
                    </a>
                    <a href="/" style="display: inline-block">
                        <img class="sidebar-icon-search icon" src="../static/icon/search_icon.png">
                    </a>
                    <!-- <a href="">
                        <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                    </a>                                      -->
                </div>
                <a href="/logout" style="display: inline-block">
                    <img class="sidebar-icon-logout icon" src="../static/icon/logout_icon.png">
                </a>
            </div>
        </div>
        <div class="layout-contents-container">
            <form class="contents-form" method="post">
                <div class="contents-input">
                    <input class="contents-input-group-name"
                    type="text"
                    placeholder="グループ名"
                    name="add-group-name"
                    />
                    <input class="contents-input-group-description"
                    type="text"
                    placeholder="グループの説明"
                    name="add-group-description"
                    />
                </div>
                <a href="{{ url_for('add_channel') }} ">
                <button type="button" class="contents-input-decision">決定</button>
                </a>
            </form>
        </div>
    </div>
</body>
</html>