<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャットページ</title>
    <link href="../static/css/detail.css" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                {{ channel.name }}
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <div class="side-bar-middle-buttons">
                    <a href="/profile">
                        <img class="sidebar-icon-profile icon" src="../static/icon/user_icon.png">
                    </a>
                    <a href="/" style="display: inline-block">
                        <img class="sidebar-icon-search icon" src="../static/icon/search_icon.png">
                    </a>
                    <!-- <a href="">
                        <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                    </a>                                      -->
                </div>
                <a href="/logout" style="display: inline-block">
                    <img class="sidebar-icon-logout icon" src="../static/icon/logout_icon.png">
                </a>
            </div>
        </div>
        <div class="layout-secondsidebar-container">
            <div class="box-secondsidebar">
                <a href="/detail/{{ channel.id }}">
                    <p class="secondsidebar-channel-name">{{ channel.name }}</p>
                </a>
                {% if channel.abstract is not none %}
                    <p id="channel-description">{{ channel.abstract }}</p>
                {% endif %}
                    <!-- もしuidとチャンネル作成者が同じならタイトル、説明を編集可能にする -->
                {% if uid == channel.uid %}
                    <button id="update-channel-btn"  class="secondsidebar-btn">
                        編集
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="layout-contents-container">
            <div class="search-messages">
                <label for="search-messages">本文検索</label>
                <input type="text" id="search-messages">
                <button type="button">検索</button>
            </div>

            {% if messages|length > 0 %} {% for message in messages %} {% if message.uid == uid %} 
            <p class="user-name message-right">{{ message.user_name }}</p>     
            <div class="message-module my-message">
                <div class="message-box">
                    <div class="message-content">
                        <div class="message-text my-text">
                            {{ message.message }}
                        </div>
                    </div>
                </div>
            </div>
            <p class="message-created_at message-right">{{ message.created_at }}</p>
            <div class="message-clear">
                <input type="button" value="削除">
            </div>
            {% else %}
            <p class="user-name message-left">{{ message.user_name }}</p>
            <div class="message-module message-left others-message">
                <div class="message-box">
                    <div class="message-content">
                        <div class="message-text others-text">
                            {{ message.message }}
                        </div>
                    </div>
                </div>
            </div>
            <p class="message-created_at message-left">{{ message.created_at }}</p>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="no-message">
                <p>まだメッセージがありません</p>
            </div>
            {% endif %}

        </div>
        <div class="layout-send-container">
            <div class="block-send-contaner">
                <form
                    class="send-box"
                    action="/message"
                    method="post"
                    name="newMessageForm"
                >
                    <textarea name="message" class="send-text" placeholder="メッセージ入力欄" autofocus></textarea>
                    <input type="hidden" name="cid" value="{{ channel.id }}" />
                    <div class="send-btn-box">
                        <button type="image" id="add-message-button">
                            <img class="send-btn-icon" src="../static/icon/send_icon.png">
                        </button>
                    </div>        
                </form>
            </div>
        </div>
    </div>
</body>
</html>