<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャットページ</title>
    <link href="../static/css/detail.css" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                {{ channel.name }}
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <div class="side-bar-middle-buttons">
                    <a href="/profile">
                        <img class="sidebar-icon-profile icon" src="../static/icon/user_icon.png">
                    </a>
                    <a href="/" style="display: inline-block">
                        <img class="sidebar-icon-search icon" src="../static/icon/search_icon.png">
                    </a>
                    <!-- <a href="">
                        <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                    </a>                                      -->
                </div>
                <a href="/logout" style="display: inline-block">
                    <img class="sidebar-icon-logout icon" src="../static/icon/logout_icon.png">
                </a>
            </div>
        </div>
        <div class="layout-secondsidebar-container">
            <div class="box-secondsidebar">
                <a href="/detail/{{ channel.id }}">
                    <p class="secondsidebar-channel-name">{{ channel.name }}</p>
                </a>
                {% if channel.abstract is not none %}
                    <p id="channel-description">{{ channel.abstract }}</p>
                {% endif %}
                    <!-- もしuidとチャンネル作成者が同じならタイトル、説明を編集可能にする -->
                {% if uid == channel.uid %}
                    <button id="update-channel-btn"  class="secondsidebar-btn">
                        編集
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="layout-contents-container">
            <div class="search-messages">
                <label for="search-messages">本文検索</label>
                <input type="text" id="search-messages">
                <button type="button">検索</button>
            </div>

            {% if messages|length > 0 %} {% for message in messages %} {% if message.uid == uid %} 
            <p class="user-name message-right">{{ message.user_name }}</p>     
            <div class="message-module my-message">
                <div class="message-box">
                    <div class="message-content">
                        <div class="message-text my-text" >
                            {{ message.message }}
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <p class="message-created_at message-right">{{ message.created_at }}</p>
            <form action="/delete_message" method="post" class="delete-message">
                <input type="hidden" value="{{ channel.id}}" name="cid">
                <button type="image" id="delete-message-button" name="message-id" value="{{ message.id }}">削除
                    <!-- <img class="send-btn-icon" src="../static/icon/key_icon.png"> -->
                </button>

            </form>
            {% else %}
            <p class="user-name message-left">{{ message.user_name }}</p>
            <div class="message-module message-left others-message">
                <div class="message-box">
                    <div class="message-content">
                        <p class="message-text others-text">
                            {{ message.message }}
                        </p>
                    </div>
                </div>
            </div>
            <p class="message-created_at message-left">{{ message.created_at }}</p>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="no-message">
                <p>まだメッセージがありません</p>
            </div>
            {% endif %}

        </div>
        <div class="layout-send-container">
            <div class="block-send-contaner">
                <form
                    class="send-box"
                    action="/message"
                    method="post"
                    name="newMessageForm"
                    onsubmit="AutoLink()"
                >
                    <textarea name="message" class="send-text" placeholder="メッセージ入力欄" autofocus id="message" cols="50"></textarea>
                    <input type="hidden" name="cid" value="{{ channel.id }}" />
                    <div class="send-btn-box">
                        <button type="image" id="add-message-button" onclick="AutoLink()">
                            <img class="send-btn-icon" src="../static/icon/send_icon.png">
                        </button>
                    </div>
                    <textarea type="text" id="url-message" name="url-message"></textarea>
                       
                </form>
            </div>
        </div>
    </div>


    <script>
        function AutoLink() {
        var str = document.getElementById('message').value
        var regexp_url = /((h?)(ttps?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+))/g; // ']))/;正規表現（/〜/）を解釈してくれないエディタ等で自動整形を崩さないため。
        var regexp_makeLink = function(all, url, h, href) {
        return '\<a href="h' + href + '" target="_blank"\>' + url + '\</a\>';
        }
        var textWithLink = str.replace(regexp_url, regexp_makeLink);
        document.getElementById('url-message').innerHTML = textWithLink
        }
    </script>
    <script>
        var arr = document.getElementsByClassName('my-text');
        
        for(var i = 0; i < arr.length; i++){
            console.log(arr[i].innerText);
            arr[i].innerHTML = arr[i].innerText;
            }
    </script>
</body>
</html>