<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>パスワード再設定</title>
    <link href="../static/css/layout.css" rel="stylesheet">
    <!-- <link rel="icon" href="" /> ファビコンの設定 -->
    <link href="../static/css/forgot-password.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="layout-container">
      <div class="layout-contents-container">
        <div class="registration-title">
          <h3>パスワード再設定メール通知</h3>
        </div>
        
        <form class="registration-form" method="post" action="">
          <div class="registration-input">              
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="text"
                name="email"
                id="password-input"
                placeholder=" "
              />
              <span>再設定用URLを送信するメールアドレス</span>
              <i></i>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <div class="registration-pagechange">
              <button class="registration-button-password-change">メール送信</button>
              <a class="registration-link switch-login-page" href="{{ url_for('login') }}">ログインに戻る</a>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </body>
</html>