<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>group-add</title>
    <link href="../static/css/group-add.css" rel="stylesheet"
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                グループ追加
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <dev class="side-bar-middle-buttons">
                    <img class="sidebar-icon-profile" src="../static/icon/user_icon.png">
                    <img class="sidebar-icon-search" src="../static/icon/search_icon.png">
                    <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                </dev>
                <img class="sidebar-icon-rogout" src="../static/icon/logout_icon.png">
            </div>
        </div>
        <div class="layout-contents-container">
            <form class="contents-form" method="post">
                <dev class="contents-input">
                    <input class="contents-input-group-name"
                    type="text"
                    placeholder="グループ名"
                    name="add-group-name"
                    />
                    <input class="contents-input-group-description"
                    type="text"
                    placeholder="グループの説明"
                    name="add-group-description"
                    />
                </dev>
                <button type="button" class="contents-input-decision">決定</button>
            </form>
        </div>
    </div>
</body>
</html>