<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャンネル一覧</title>
    <link href="../static/css/layout.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                チャンネル名一覧
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <div class="side-bar-middle-buttons">
                    <a href="/profile">
                        <img class="sidebar-icon-profile icon sidebar-icon-clickable" src="../static/icon/user_icon.png">
                    </a>
                    <a href="/" style="display: inline-block">
                        <img class="sidebar-icon-search icon sidebar-icon-clickable" src="../static/icon/search_icon.png">
                    </a>
                    <a href="/favorites" style="display: inline-block">
                        <img class="sidebar-icon-search icon sidebar-icon-clickable" src="../static/icon/key_icon.png">
                    </a>
                    <!-- <a href="">
                        <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                    </a>                                      -->
                </div>
                <a href="/logout" style="display: inline-block">
                    <img class="sidebar-icon-logout icon sidebar-icon-clickable" src="../static/icon/logout_icon.png">
                </a>
            </div>
        </div>
            <div class="user-name-label">
                {{ username }} さん、ようこそ
            </div>
        <div class="layout-contents-container">
            
            <div class="channels-container">
                <div class="add-channels-box">
                    <div class="add-channels">
                        <a href="/add-channel" style="font-size: medium;"><b>チャンネル新規追加⊕</b></b>
                        </a>
                    </div>
                </div>
                <form class="search-channels" method="post" action="/search-channels">
                    <label for="search-channels"><b>チャンネル検索</b></label>
                    <input type="text" name="search-channels" id="search-channels" autofocus>
                    <button type="submit" style="font-size: medium;">検 索</button>
                </form>
                <div class="channels-box">
                    <ul class="channnel-list">
                        {% for channel in channels %}
                            <li>
                                <a href="/detail/{{ channel.id }}">{{ channel.name }}</a>

                                <form action="/favorites_channel" method="post" class="delete-channel">
                                    <input type="hidden" value="{{ channel.id}}" name="cid">
                                    <button type="image" id="delete-channel-button" name="channel-id" value="{{ channel.id }}">お気に入り登録
                                        <!-- <img class="send-btn-icon" src="../static/icon/key_icon.png"> -->
                                    </button>
                                </form>

                                {% if uid == channel.uid %}
                                <form action="/delete_channel" method="post" class="delete-channel">
                                    <input type="hidden" value="{{ channel.id}}" name="cid">
                                    <button type="image" id="delete-channel-button" name="channel-id" value="{{ channel.id }}">削除
                                        <!-- <img class="send-btn-icon" src="../static/icon/key_icon.png"> -->
                                    </button>
                                </form>
                                {% endif %}
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>