<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share-layout</title>
    <link href="../static/css/layout-2.css" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                タイトル
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <dev class="side-bar-middle-buttons">
                    <img class="sidebar-icon-profile sidebar-icon-clickable" src="../static/icon/user_icon.png">
                    <img class="sidebar-icon-search sidebar-icon-clickable" src="../static/icon/plus_icon.png">
                    <img class="sidebar-icon-favorite sidebar-icon-clickable" src="../static/icon/favorite_icon.png">
                </dev>
                <img class="sidebar-icon-rogout sidebar-icon-clickable" src="../static/icon/logout_icon.png">
            </div>
        </div>
        <div class="layout-center-container">
            <div class="layout-contents-container">
                
            </div>
            <div class="background-animation-setting-container">
                <img class="background-animation-setting-img " src="../static/icon/setting-icon.png">
            </div>
            <div class="background-animation-wrench-container">
                <img class="background-animation-wrench-img" src="../static/icon/wrench_icon.png">
            </div>
            <div class="background-animation-robot-container">
                <img class="background-animation-robot-img" src="../static/icon/robot_icon.png">
            </div>
            <div class="background-animation-debug-container">
                <img class="background-animation-debug-img" src="../static/icon/debug-icon.png">
            </div>
        </div>
    </div>
</body>
</html>