<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share-layout</title>
    <link href="../static/css/layout.css" rel="stylesheet">
</head>
<body>
    <div class="layout-container">
        <div class="layout-header-container">
            <h1 class="header-title">
                
            </h1>
        </div>
        <div class="layout-sidebar-container">
            <div class="block-sidebar-icon">
                <img class="side-bar-rogo" src="../static/icon/key_icon.png">
                <dev class="side-bar-middle-buttons">
                    <img class="sidebar-icon-profile" src="../static/icon/user_icon.png">
                    <img class="sidebar-icon-search" src="../static/icon/search_icon.png">
                    <img class="sidebar-icon-plus" src="../static/icon/plus_icon.png">
                </dev>
                <img class="sidebar-icon-rogout" src="../static/icon/rogout_icon.png">
            </div>
        </div>
        <div class="layout-contents-container">

        </div>
    </div>
</body>
</html>