<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
    <link href="../static/css/layout.css" rel="stylesheet">
    <!-- <link rel="icon" href="" /> ファビコンの設定 -->
    <link href="../static/css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="layout-container">
      <div class="layout-contents-container">
        <div class="registration-title">
          <h2>ログイン</h2>
        </div>
        <form class="registration-form" method="post" action="">
          <div class="registration-input">
            <div class="registration-input-box">
              <input class="registration-input-form input-username"
                type="text"
                name="username"
                id="username-input"
                placeholder=" "
                autofocus
              />
              <span>ユーザー名</span>
              <i></i>
            </div>
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="password"
                name="password"
                id="password-input"
                placeholder=" "
              />
              <span>パスワード</span>
              <i></i>
            </div>
          </div>
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul>
                  {% for message in messages %}
                      <li class="flash-message">{{ message }}</li>
                  {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
          <div class="registration-pagechange">
            <button class="registration-button-login">ログイン</button>
            <a class="registration-link switch-singup" href="{{ url_for('signup') }}">新規登録</a>
            <a class="registration-link switch-passward-change" href="/forgot-password">パスワードをお忘れですか？</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>