<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>パスワード再設定</title>
    <link href="../static/css/layout.css" rel="stylesheet">
    <!-- <link rel="icon" href="" /> ファビコンの設定 -->
    <link href="../static/css/password-change.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="layout-container">
      <div class="layout-contents-container">
        <div class="registration-title">
          <h2>パスワード再設定</h2>
        </div>
        <div class="user-name-label">
          <h2>{{ user.user_name }} さんのパスワード再設定画面です</h2>
        </div>
        <form class="registration-form" method="post" action="">
          <div class="registration-input">              
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="password"
                name="password1"
                id="password-input"
                placeholder=" "
              />
              <span>パスワード</span>
              <i></i>
            </div>
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="password"
                name="password2"
                id="password-input"
                placeholder=" "
              />
              <span>パスワード（再入力）</span>
              <i></i>
            </div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul>
                  {% for message in messages %}
                      <li class="flash-message">{{ message }}</li>
                  {% endfor %}
                  </ul>
              {% endif %}
              {% endwith %}

            <div class="registration-pagechange">
              <button class="registration-button-password-change">パスワード再設定</button>
              <a class="registration-link switch-login-page" href="{{ url_for('login') }}">ログインに戻る</a>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </body>
</html>