<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>新規登録</title>
    <link href="../static/css/layout.css" rel="stylesheet">
    <!-- <link rel="icon" href="" /> ファビコンの設定 -->
    <link href="../static/css/signup-2.css" rel="stylesheet">
    <!-- フォントの設定
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&family=M+PLUS+1:wght@200&display=swap" rel="stylesheet"> -->
  </head>
  <body>
    <div class="layout-container">
      <div class="layout-contents-container">
        <div class="registration-title">
          <h2>新規登録</h2>
        </div>
        <form class="registration-form" method="post" action="">
          <div class="registration-input">
            <div class="registration-input-box">
              <input class="registration-input-form input-username"
                type="text"
                name="username"
                id="username-input"
                placeholder=" "
                autofocus
              />
              <span>ユーザー名</span>
              <i></i>
            </div>
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="text"
                name="email"
                id="password-input"
                placeholder=" "
              />
              <span>メールアドレス</span>
              <i></i>
            </div>
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="password"
                name="password1"
                id="password-input"
                placeholder=" "
              />
              <span>パスワード</span>
              <i></i>
            </div>
            <div class="registration-input-box">
              <input class="registration-input-form input-passward"
                type="password"
                name="password2"
                id="password-input"
                placeholder=" "
              />
              <span>パスワード（再入力）</span>
              <i></i>
            </div>
          <!-- {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul>
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %} -->
            <div class="registration-pagechange">
              <button class="registration-button-signup">登録する</button>
              <a class="registration-link switch-login-page" href="{{ url_for('login') }}">ログインに戻る</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>